name: Windows RDP Manual Start

on:
  workflow_dispatch:   # Sirf button se start hoga

jobs:

  rdp:

    runs-on: windows-latest
    timeout-minutes: 1440   # ~24 hours


    steps:

    # Step 1: Create User
    - name: Create User
      shell: powershell
      run: |
        net user prateek "Pr@teek2004!" /add
        net localgroup administrators prateek /add


    # Step 2: Enable RDP
    - name: Enable RDP
      shell: powershell
      run: |
        reg add "HKLM\SYSTEM\CurrentControlSet\Control\Terminal Server" `
        /v fDenyTSConnections /t REG_DWORD /d 0 /f

        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"


    # Step 3: Install ngrok
    - name: Install ngrok
      shell: powershell
      run: choco install ngrok -y


    # Step 4: Setup ngrok Token
    - name: Configure ngrok
      shell: powershell
      env:
        NGROK_AUTHTOKEN: ${{ secrets.NGROK_AUTHTOKEN }}
      run: ngrok config add-authtoken $env:NGROK_AUTHTOKEN


    # Step 5: Start ngrok
    - name: Start ngrok
      shell: powershell
      run: |
        Start-Process -NoNewWindow ngrok "tcp 3389"
        Start-Sleep 20


    # Step 6: Keep Alive
    - name: Keep Alive
      shell: powershell
      run: |
        while ($true) {
          Write-Host "Server Running..."
          Start-Sleep 300
        }
