name: Windows RDP Auto Start

on:
  workflow_dispatch:

  schedule:
    - cron: "0 */6 * * *"   # Every 6 hours

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 350

    steps:

    - name: Create User
      shell: powershell
      run: |
        net user prateek "Pr@teek2004!" /add
        net localgroup administrators prateek /add

    - name: Enable RDP
      shell: powershell
      run: |
        reg add "HKLM\SYSTEM\CurrentControlSet\Control\Terminal Server" /v fDenyTSConnections /t REG_DWORD /d 0 /f
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

    - name: Keep Alive
      shell: powershell
      run: |
        while ($true) {
          Write-Host "Alive..."
          Start-Sleep 300
        }
