name: Windows RDP via Ngrok (Stable)

on:
  workflow_dispatch:

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
    - name: Create or Update User
      shell: powershell
      run: |
        $user = "prateek"
        $pass = "Prateek@123"

        if (Get-LocalUser -Name $user -ErrorAction SilentlyContinue) {
          net user $user $pass
        } else {
          net user $user $pass /add
          net localgroup administrators $user /add
        }

    - name: Enable RDP
      shell: powershell
      run: |
        reg add "HKLM\SYSTEM\CurrentControlSet\Control\Terminal Server" /v fDenyTSConnections /t REG_DWORD /d 0 /f
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

    - name: Install ngrok
      shell: powershell
      run: |
        choco install ngrok -y

    - name: Configure ngrok
      shell: powershell
      run: |
        ngrok config add-authtoken $Env:NGROK_AUTH_TOKEN

    - name: Start ngrok TCP tunnel
      shell: powershell
      run: |
        ngrok tcp 3389 --log=stdout
